/* ! CSS RESET------------------------------------ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/* * BOXES---------------------------------------- */
.centeredBox{ 
    margin: 0 auto; 
    max-width: 1000px; 
}

/* * TAGS----------------------------------------- */
a{
    margin: .8em;
    color: white;
}

header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

h1{
    color: white;
    font-size: 4em;
}

h2{
    color: black;
    font-size: 3em;
}

h3{
    color: black;
    font-size: 1.5em;
}

h4{
    color: #728bde;
    font-size: 2.5em;
}

h5{
    color: #728bde;
    font-size: 1em;
    margin: .8em;
}

i{
    color: white;
    width: calc(100% / 8);
    font-size: 1.5em;
    margin-top: 20px;
}

p{
    font-size: 1.1em;
    color: white;
    line-height: 1.5em;
}

img[alt="stars"]{
    width: 50%;
}

img{
    width: 100%;
}

img[alt="wave"]{
    opacity: 0.04;
    display: block;
}

img[alt="flag"]{
    width: 1.5em;
}

img[alt="wave2"]{
    opacity: 0.04;
    display: block;
    transform: scaleY(-1);
}

/* ? BUTTONS */
button{
    padding: .7em 1.2em .7em 1.2em;
    border: none;
    border-radius: 50px;
    font-size: 1.4em;
}

.button1{
    background-color: #23262b;
    color: white;
}

.button2{
    background-color: #8fa0e1;
    color: white;
}

.smallButton{
    font-size: 1em;
}

/* ? MARGIN & PADDING----------------------------- */
.mainRowPadding{ padding-top: 3em; padding-bottom: 3em; }
.headerRowMargin{ margin-bottom: 1em; }
.headerRowPadding{ padding-top: 1em; }
.footerRowPadding{ padding-top: 1em; padding-bottom: 1em; }
.footerRowPadding2{ padding-top: 1em; }
.footerRowPadding3{ padding-top: .5em; padding-bottom: 2em; }
.smallColMargin{ margin-top: 2em; margin-bottom: 2em; }
.smallMarginR{ margin-right: 1em;}
.smallMarginL{ margin-left: 1em;}
.mediumMarginL{ margin-left: 3em;}
.bigMarginL{ margin-left: 5em;}
.bigMarginR{ margin-right: 5em;}
.smallTopPadding{ padding-top: .6em; }

/* ? FLEX----------------------------------------- */
.flexRow{ display: flex; flex-direction: row; }
.flexJusCenter{ justify-content: center; }
.flexJusEnd{ justify-content: flex-end; }
.flexJusBetween{ justify-content: space-between; }
.flexJusAround{ justify-content: space-around; }
.flexAlignCenter{ align-items: center;}
.flexAlignStretch{ align-items: stretch;}
.flexColumn{ display: flex; flex-direction: column;}

/* ? WIDTH---------------------------------------- */
.w_1-5{ width: calc(100% / 5); }
.w_3-5{ width: calc(100% / 5 * 3); }
.w_7-10{ width: 70%; }
.w_4-10{ width: 40%; }
.w_6-10{ width: 60%; }
.w_10-10{ width: 100%; }
.w_1-3{ width: calc(100% / 3); }
.w_2-3{ width: calc(100% / 3 * 2); }
.w_1-4{ width: calc(100% / 4); }

/* ? HEIGHT--------------------------------------- */
.minH_firstBox{ min-height: 300px; }
.minH_lastBox{ min-height: 20px; }
.minH_mainBoxes{ min-height: 400px; }
.minH_bigBoxes{ min-height: 800px; }
.minH_footerBoxes{ min-height: 600px; }

/* ? BORDER--------------------------------------- */
.bordSection{ border: black 2px dashed; }
.bordSectionWhite{ border: white 2px dashed; }
.bordFoot{ border-top: gray 2px solid; }

/* ? BG COLORS------------------------------------ */
.bgC1{ background-color: #dba420; }
.bgC2{ background-color: #acd9e6; }
.bgC3{ background-color: #00018a; }
.bgC4{ background-color: #ee83ef; }
.bgC5{ background-color: #1e90ff; }
.bgC6{ background-color: #fec1cb; }
.bgC7{ background-color: #f6f6f6; }
.bgC8{ background-color: #228b22 }
.bgC9{ background-color: #f08181 }
.bgC10{ background-color: #21b2ab }
.bgC11{ background-color: #23262b }
.bgC12{ background-color: #7ffed5 }

/* UTILITY */
.textAlCenter{ text-align: center; }
.colorBlack{ color: black; }